footer {
  min-height: 288px;
  color: white;
  h5 {
    font-weight: 300;
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
  .navmenu-brand {
    i img {
      witdh: 105px;
      height: 68px;
    }
  }
  .grid-left, .grid-right {
    @include flexContainer(row, center, center,);
  }
  .grid-left {
    min-height: 8rem;

  }
  .grid-left {
    order:2;
    @include media-breakpoint-up(lg) {
      order: 1;
    };
  }
  .grid-right {
    order:1;
    @include media-breakpoint-up(lg) {
      order:2;
    };
  }
}
.nav--footer {
  .nav-link {
    color: $light-2-color-white;
    font-size: 0.875rem;
    padding: .06rem .2rem;
    @include hover-focus-active(){
      color: white;
    };
  }
}
