.grid {
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
.grid-left {
	flex:auto;
  @include media-breakpoint-up(lg) {
    flex:0 0 18rem;
  }
}
.grid-right {
	flex: 0 1 100%;
	overflow: hidden;
}
