.navbar-default .navbar-offcanvas, .navmenu-default {
  background-color: red;
}
.navbar-offcanvas, .navmenu {
width: 18rem !important;
}

.navbar-offcanvas, .navmenu-fixed-left, .navmenu-fixed-right {
  bottom: 0;
  @include media-breakpoint-up(lg) {
    bottom: auto;
  }
}
