.btn {
	text-transform: uppercase;
}
.btn-primary {
	padding: .6rem 1rem;
	font-size: 1.125rem;
	box-shadow: $box-shadow;
	min-width: 16rem;
	@include media-breakpoint-up (sm){
	box-shadow: $box-shadow-lg;
	};
}
.btn-secondary {
	box-shadow: $box-shadow;
}

.btn-social {
  border-radius: 100px;
  background-color: $color-gray-55;
  border: none;
  min-width: 40px;
  height: 40px;
  padding: 0;
  box-shadow: none;
  .fa {
    @include flexContainer(row, center, center);
    height: 40px;
  }
}
.close--dark-bg {
	background-color: $color-black !important;
	color: white;
}
.close {
	width: 3rem;
	height: 3rem;
	font-size: 2.5rem;
	font-weight: 300;
}

.btn.bg-danger {
	border-color: $red;
}
.btn-icon {
	min-width: 3.5rem;
	height: 2.5rem;
	@include flexContainer (row, center, center);
}

.btn-donation {
	background-color: white;
	border-color: $color-light-gray;
	font-size: 2.5rem;
	color: $color-tertiary;
	font-weight: 300;
	border-width: 2px;
}

.btn-smaller.active,  .btn-bigger.active{
	color: white;
	box-shadow: none;
}

.btn-smaller.active {
	background-color: $color-secondary;
	border-color: $color-secondary;
}
.btn-bigger.active {
	background-color: $color-primary;
	border-color: $color-primary;
}
/*-------------------------------------------
radio buttons
-------------------------------------------*/
.btn-group--switch {
	margin-bottom: 1.5rem;
	.btn-secondary {
		background-color: $color-light-gray;
		box-shadow: none;
		border-color: $color-light-gray;
		padding: .8rem .75rem;
		color: gray;
		border-width: 2px;
	}

	.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
		color: $dark-color-gray;
    background-color: white;
    border-color: $color-light-gray;
		font-weight: 700;
	}
}
