
#munkatarsaink {
	padding-bottom: 0;
}

/*-------------------------------------------
coworkers
-------------------------------------------*/

.card--coworkeres {
	background-color: white;
	border: none;
	border-radius: 0;
	height: 100%;
//	margin-bottom: 4rem;
	img {
	// @include absoluteCenter (absolute, -3.8rem, 0,0,0);
	position: relative;
	// margin-top: -4.5rem;
	border: 6px solid  $fade-secondary;
	margin-top: -3.9375rem;
	width: 7.875rem !important;
	height: 7.875rem;
 // @include media-breakpoint-up(sm) {
	//  margin-top: -3.9375rem;
	//  width: 7.875rem !important;
	//  height: 7.875rem;
	//  };
	}
	.card-body {
		// padding-top: 5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		@include media-breakpoint-up (sm) {
			flex-direction: row;
		};
		h5 {
			color: $color-primary;
			font-size: 1.5rem;
			font-weight:300;
			margin-bottom: .5rem;
		}
		p {
			color: $color-tertiary;
			align-self: center;
			line-height: 1.2;
			width: 100%
		}
		.btn-sm {
			padding: .25rem 1.3rem;
			font-size: .8rem;
		}
	.btn-secondary {
		align-self: stretch;
		color: white;
		@include media-breakpoint-up (sm) {
			align-self: flex-end;
		};
	}
	}
}

/*-------------------------------------------
main card
-------------------------------------------*/
.card--main{
	border-radius: 0;
	border: none;
	.card-footer{
		background-color: white;
		border-top: none;
		padding: 0
	}
	.card-title {
		@include titleLight;
	}
	.card-body {
		padding: 2rem;
	}
	.card-img-top {
		border-radius: 0;
	}
}
