form {
	label {
		font-size: .75rem;
    text-transform: uppercase;
		letter-spacing: 0.7px;
		margin-bottom: .2rem;
	}
	.form-group {
		margin-bottom: .6rem;
	}
}
/*-------------------------------------------
adomanyozas form
-------------------------------------------*/

.form--main {
	.form-control {
	 background-color: $color-light-gray;
	}
}
.custom-control {
	padding-left: 2.5rem;
	// display: flex;
	// align-items: center;
	// flex-direction: row
	margin-right: 1rem;
}
/*-------------------------------------------
custom form
-------------------------------------------*/
.custom-control-label::after, .custom-control-label::before {
	width: 2rem;
	height: 2rem;
}
.custom-control-label  {
	display: flex;
	align-items: center;
	min-height: 2.5rem;
}
