.modal-dialog--main {
	max-width: 70%;
	.modal-content{
		border-radius: 0;
		border: none;
	}
	.modal-body{
		padding: 0;
	}
	p {
		font-size: 1.125rem;
		line-height: 30px;
		margin-bottom: 2rem;
	}
	P:last-child {
		margin-bottom: 0;
	}
	h1 {
		margin-bottom: 2rem;
	}
	.title {
		margin-top: -35px;
		color: $color-tertiary;

	}
	.close {
		width: 3rem;
		height: 3rem;
		background-color: $color-light-gray;
		position: absolute;
		right:0;
		top:0;
		font-size: 2.5rem;
		font-weight: 300;
	}
}
/*-------------------------------------------
gallery modal
-------------------------------------------*/


.modal-dialog--gallery {
	max-width: 95%;
	@include media-breakpoint-up (sm) {
		max-width: 70%;
	};
	.modal-content{
		border-radius: 0;
		.modal-body {
			padding: 0;
		}
		.modal-footer {
			border-top: none;
			@include flexContainer (row, center, space-between);
		}
	}
}
