.navbar-default .navbar-offcanvas, .navmenu-default {
  background-color: $color-light-gray;
}
.navbar-offcanvas, .navmenu {
width: 18rem !important;
}

.navbar-offcanvas, .navmenu-fixed-left, .navmenu-fixed-right {
  bottom: 0;

  @include media-breakpoint-up(lg) {
    bottom: auto;
  }
}
.navmenu-default {
  border:none;
}
.navbar-fixed-top {
  z-index: 1029;
}
.navbar-offcanvas, .navmenu-fixed-left, .navmenu-fixed-right {
  top: 46px;
  @include media-breakpoint-up(lg) {
    top: 0;
  };
}
.navbar-toggler {
  padding: 0;
}

/*-------------------------------------------
side main navigation
-------------------------------------------*/
.navbar-nav {
  padding: 0 1em;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin-bottom: 24px;
  @include media-breakpoint-up(lg) {
    padding: 0 1.5em;
  };
  .nav-item {
    border-bottom: 1px $color-gray-30 solid;
  }
   .bg-danger {
    min-width:  auto;

  }
  .nav-link {
    padding: .47rem 0rem;
    color: $color-tertiary;
    letter-spacing: .5px;
    @include hover-focus-active() {
      color: $color-primary;
    };
    &.active {
      color: $color-primary;
    }
  }
  .dropdown-menu {
    position: relative !important;
    border-radius: 0px;
    border: none;
    top: 0px;
    text-transform: initial;
    transform: none!important;
    }
  .dropdown-toggle {
    @include flexContainer (row, center, space-between)
    &:after {
      color: $color-gray-30;
      display: none;
    }
    .fa {
      transition: all .5s ease;
    }
  }
  .dropdown.show {
   .fa {
     transform:  rotate(180deg);
   }
 }

  .dropdown-item {
    padding: .50rem 1.5rem;
  }
  .header__lang {
    a {
      color: inherit;
      opacity: .45;
      padding: 1rem;
      font-size: 1rem ;
      @include hover-focus-active() {
        opacity: 1;
      };
    }
    a.active {
      opacity: 1;
      color: $color-primary;
    }
    .nav-item {
      border-bottom: 0;
    }
    .nav {
      border-bottom: 1px $color-gray-30 solid;
    }
  }
}
.nav--social {
  padding: 0 1.5rem 1.5rem 1.5rem;
  @include media-breakpoint-up(lg) {
    padding: 0 2rem 2rem 2rem;
  };
  .nav-item {
    border-bottom: 0px;
    margin-right: .5rem;
  }
}
/*-------------------------------------------
top navigation bar
-------------------------------------------*/
.navbar-fixed-top {
  background-color: $color-primary;
  flex-direction: row-reverse;
}

.navmenu-out {
  position: relative;
}

/*-------------------------------------------
animated hamburger
-------------------------------------------*/

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  &:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
  }
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler {
  &:hover>.icon-bar:nth-child(2), &:active>.icon-bar:nth-child(2)  {
    width: 22px;
    transition: ease all .2s;
  }
}


.navmenu.in + .navbar-default .navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navmenu.in + .navbar-default .navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navmenu.in + .navbar-default .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navmenu.in + .navbar-default .navbar-toggler  .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}
