.table-wraper {
	background-color: $color-light-gray;
	padding: 1rem;
	height: 100%;
	@include media-breakpoint-up (md) {
		padding: 1.5rem;
	};
}
.section--table{
	@include noGutter (-1px, 1px);
	h1 {
		margin-bottom: 1.4rem;
	}
	p {
		margin-bottom: 2.5rem;
	}
	small {
		color: $color-tertiary;
		float: left;
		line-height: 1;
		font-size: .9rem;
		display: block;
		width: 100%;

	}
	.table {
		background-color: $color-light-gray;
		margin-bottom: 0px;
		color: $color-primary;
		font-size: 1.1rem;
		font-weight: 300;
		@include media-breakpoint-up (md) {
			font-size: 1.375rem;
		};
		thead th {
			border-bottom: (2 * $table-border-width) solid white;
			text-align: center;
			vertical-align: middle;
			border-top: none;
			font-weight: 300;
			padding: 0 0 .6rem 0;
			line-height: 1.3;
			@include media-breakpoint-up (md) {
				padding: 0 0 1.2rem 0;
			};
		}
		tbody {
			tr {
				background-color: white;
			}
		}
		td {
			border-top: 4px solid $color-light-gray;
		}
	}
}


.table-data {
	margin-bottom: 2rem;
	 th, thead th {
		border: none;
	}
	td {
		border-top: none;
		border-bottom: 1px solid #dee2e6;
		line-height: 1.2;
		padding: .5rem;
	}
	&:last-child {
		margin-bottom: 0
	}
}
