.nav-tabs--main {
	border-bottom: none;
	.nav-link {
		border-radius: 0;
		border: none;
		text-transform: uppercase;
		padding: 1rem 1.1rem;
		color: $dark-color-gray;
	}
	.nav-link.active {
		font-weight: 700;
	}
}

.tab-content--main {
	background-color: white;
	.tab-pane {
		padding: 3rem;
		@include noGutter (-2px, 2px);
	}
}

/*-------------------------------------------
responsive nav-tabs
-------------------------------------------*/

 .responsivetabs-more {
	 .dropdown-toggle {
		  @extend .nav-link ;
	 }
 }
