body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	font-weight: 400;
}
.owl-carousel.off {
    display: flex;
		flex-wrap: wrap;

}
.bg-dark-gray {
	background-color: $color-dark-gray;
}
.bg-gray {
	background-color: $color-tertiary;
}
.bg-mid-gray{
	background-color: $color-light-gray;
}
.overlay {
	@include absoluteCenter(fixed, 0, 0, 0, 0,)
	background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 1028;
  display: none;
};
.bg-light-blue {
		background-color:   $fade-secondary;
}
.section-padding {
	padding: 4rem;
}
h1 {
	color: $color-primary !important;
	font-weight: 300 !important;
}
