body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	font-weight: 400;
}
.owl-carousel.off {
    display: flex;
		flex-wrap: wrap;

}

/*-------------------------------------------
bacground colors
-------------------------------------------*/
.bg-dark-gray {
	background-color: $color-dark-gray;
}
.bg-gray {
	background-color: $color-tertiary;
}
.bg-mid-gray{
	background-color: $color-light-gray;
}
.text-muted {
	color: $color-tertiary !important
}
.overlay {
	@include absoluteCenter(fixed, 0, 0, 0, 0,)
	background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 1028;
  display: none;
};
.bg-light-blue {
		background-color:   $fade-secondary;
}
.section-padding {
		padding: 1rem;
	@include media-breakpoint-up(sm) {
			padding: 2rem;
	};
	@include media-breakpoint-up(md) {
			padding: 4rem;
	};


}
/*-------------------------------------------
typo
-------------------------------------------*/
h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1, h2, {
	color: $color-primary;
	margin-bottom: 2rem;
}

h1 {
	@include titleLight;
	margin-bottom: 2rem;
	font-size: 1.7rem;
	@include media-breakpoint-up(md) {
		font-size: 2.5rem;
	};
}
h3 {
	margin-bottom: 1rem;
}
h2 {

}
p {
	margin-bottom: 2rem;
}
.opacity {
	opacity: .3;
}
