body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	font-weight: 400;
}
.owl-carousel.off {
    display: flex;
		flex-wrap: wrap;
}
.bg-dark-gray {
	background-color: $color-dark-gray;
}
.bg-gray {
	background-color: $color-tertiary;
}
.bg-mid-gray{
	background-color: $color-light-gray;
}
