@mixin paddingMarginZero {
	padding:0px;
	margin:0px;
}

@mixin flexContainer ($flex-direction, $align-items, $justify-content)  {
display: flex;
flex-direction: $flex-direction;
align-items: $align-items;
justify-content: $justify-content;
}

@mixin absoluteCenter {
	position: absolute;
	left: 0;
	right: 0;
	margin-left:  auto;
	margin-right: auto;
}
@mixin bgImage ($image) {
background-image: url($image);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
@mixin roundEdge ($radius){
	border-radius: $radius;
}

// media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
