
//colors
$color-primary: #49789F;
$color-blue: #86BCE9;
$color-secondary: #86BCE9;
$color-tertiary: #868E96;
$color-black: #212529;
$color-white: #FFFFFF;
$color-light-gray: #ECEFF2;
$color-dark-gray: #6D7781;

$light-color-gray: lighten($color-black, 80% );
$dark-color-gray: lighten($color-black, 20% );
$mid-color-gray: lighten($color-black, 50% );
$mid-color2-gray: lighten($color-black, 60% );
$text-color-gray: lighten($color-black, 30% );

$color-gray-30: rgba($color-tertiary,0.30);
$color-gray-55: rgba($color-tertiary,0.55);

 $fade-secondary: lighten($color-secondary, 17%);

$light-color-primary: lighten($color-primary, 10% );
$dark-color-primary: darken($color-primary, 10% );

$light-color-secondary: lighten($color-secondary, 10% );
$dark-color-secondary: darken($color-secondary, 10% );

$light-color-white: rgba($color-white,0.40);
$light-2-color-white: rgba($color-white,0.70);
$light-3-color-white: rgba($color-white,0.50);
$light-4-color-white: rgba($color-white,0.65);
$light-5-color-white: rgba($color-white,0.20);

$fade-color-primary: tint( $color-primary, 20%);
$fade-color-2-primary: tint( $color-primary, 40%);

$fade-color-secondary: lighten( $color-secondary, 40%);

$opacity-color-primary: rgba($color-primary,0.95);
$opacity2-color-primary: rgba($color-primary,0.80);

//fonts
$font-primary: 'Nunito', sans-serif;
$font-primary-thin: evelethclean_thin, sans-serif;
$font-secondary: ProximaNova-Medium, sans-serif;
$font-primaryLight: Sica-Light, sans-serif;

//media query
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
